html
{
    height: 100%;
    background-color: #FAF9FA;
}

head
{
    height: 10%;
}
body
{
    font-size: 1.1em;
    font-family: sans-serif;
    margin: 0px;
    height: 100%;
}
#Header
{
    padding-top: 0.5%;
    min-height: 3.5%;
    padding-left: 30px;
    padding-right: 30px;
    vertical-align: bottom;
    background-color: #b39ddb;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
#Graph
{
    height: 95%;
    /* width: 960px; */
}
