body
{
    margin-left: 50px;
    margin-right: 50px;
    font-size: 1.1em;
    font-family: sans-serif;
    background-color: #FAF9FA;
}

table, th, td
{
    border: 1px solid black;
}

fieldset {
    display: inline-block;

}
