<!doctype html>
<html>

<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/diagram.css') }}">
    <form id="Header" method="post">
        Query <textarea cols="40" rows="1" name=Query> </textarea>
        <!-- Query <input type=text name=Query> -->
        <input type=submit value=Visualize>
    </form>
</head>

<body>
    {% for id in ids %}
        <!-- <h3>{{id}}</h3> -->
        <div id="{{id}}"></div>
    {% endfor %}

</body>


<footer>
    <!-- D3.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <!-- Plotly.js -->
    <script src="https://d14fo0winaifog.cloudfront.net/plotly-basic.js"></script>

    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

    <script type="text/javascript">

        var graphs = {{graphJSON | safe}};
        var ids = {{ids | safe}};

        for(var i in graphs) {
            Plotly.plot(ids[i], // the ID of the div, created above
                        graphs[i].data,
                        graphs[i].layout || {});
        }

    </script>
</footer>

</html>
